
*.DS_Store
*.Rhistory
*.RData
.DS_Store
.DS_Store
.DS_Store
.DS_Store
experiment 2/.DS_Store
experiment 3/.DS_Store
experiment 4/.DS_Store
experiment 5 pilot/.DS_Store
experiment 4/data/.DS_Store
experiment 5 pilot/data/.DS_Store
experiment 5 pilot/data/raw/.DS_Store
experiment 5 pilot/measures/.DS_Store
